body{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-image: url("./background.jpeg");
    background-size: cover;

}
a{
    color: white;
    font-weight: bolder;
    background-color: black;
    font-size: large;
    text-decoration: none;
}
a:visited{
    color: white;
     font-weight: bolder;
    background-color: black;
}

#boards{
    width: 50%;
      margin: 0 auto;
}
/*Clock*/
#clock ,#scores{
    background-color: black;
    border: solid 2px;
    color: white;
      text-align: center;
    display: flex;
    justify-content: center;
    
}
#startAndStop{
    margin: 0 auto;
    text-align: center;
}
#startAndStop button{
    color: white;
    background-color: black;
    font-weight: bolder;
    border: none;
}

#soundMode , #muteMode{
    color: white;
    font-size: 190%;

}
canvas{
  
    border: 1rem solid black;
    background-color:white;
    margin-top: 10%;
    margin-bottom: 5%;
   
   /* margin-left: 17.5%;*/
}
/*Buttons*/
#buttons{
    text-align: center;
    background-color: black;
}
.controls{
    width: 55px;
    height:55px;
    background-color: white;
    border: solid black;
    color: black;
    font-weight: bolder;
    border-radius: 50%;
}
#images{
    display: none;
}



   aside{
        padding: 3%;
    }
    
/*Leaderboard*/

#list{
    background-color: rgb(255,255,255,0.9);
    color: green;
    font-weight: bolder;
    font-size: large;
}

.my-score{
    color: red;
}

/**************************************************************************************************************/
@media screen and (min-width:500px){

    aside{
        position: absolute;
        left: 5%;
        top: 5%;
    }
    #body{
        display: grid;
    
        text-align: center;
        margin: 0 auto;
    }
#boards{
        position: fixed;
        top: 0;
        right: 5px;
        width: 15%;

    }


 
    #startAndStop{
        margin-top: 20%;

    }
}
@media  screen and (min-width:750px) {
    button{
        height:5vh;
    }

    canvas{
  
    margin-top: 5%;
    margin-bottom: 2.5%;
   
   /* margin-left: 17.5%;*/
}
 
  #startAndStop{
        margin-top: 5%;

    }

}