body{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffec51;
}
a{
    color: red;
}
a:visited{
    color: red;
}
/*Clock*/
#clock ,#scores{
    background-color: black;
    border: solid 2px;
    width: 50vw;
    color: #ff0000;
    padding:  2%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    
}
canvas{
  
    border: 1rem solid #fec601;
    background-color:#fffbdb;
    margin-top: 2%;
   
   /* margin-left: 17.5%;*/
}
/*Buttons*/
#buttons{
    text-align: center;
    background-color: black;
}
.controls{
    width: 55px;
    height:55px;
    background-color: #ffec51;
    border: solid #fec601;
    color: red;
    font-weight: bolder;
    border-radius: 50%;
}
#images{
    display: none;
}
#comments{
    color:rgb(149, 17, 236);
    font-weight: bolder;
}
.icons{
    text-align: center;
    display:grid;
    grid-template-columns: auto;
    gap: 5vh;
}
.icons>a{
    text-decoration: none;
    color: black;
}
/**************************************************************************************************************/
@media screen and (min-width:500px){
    body{
        display: grid;
        grid-template-columns: 30% 70%;
    }
    #boards{
        position: fixed;
        top: 0;
        right: 20px;
    }
}
@media  screen and (min-width:700px) {
    button{
        height:5vh;
    }
  .icons{
      display:grid;
      grid-template-columns: auto auto auto auto;
  }
}